.slider-container1 {
    width: 100%;
    background-color: rgb(240, 241, 245);
}

.slider-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 45px 0 45px 0;
    /* Sử dụng flexbox để chia bố cục */
}

.text-section {
    flex: 1;
    /* Phần bên trái chiếm 50% chiều rộng */
    padding: 0 50px 50px 0;
    /* Khoảng cách bên trong */
    display: flex;
    flex-direction: column;
    /* Sắp xếp văn bản theo cột */
}

.text-section div {
    color: rgb(86, 91, 96);
    font-weight: 400;
    font-size: 12px;
    line-height: 3;
}

h2 {
    font-size: 60px;
    font-weight: 500;
    line-height: 1;
    color: rgb(0, 51, 255);
}

p {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(86, 91, 96);
}

a {
    text-decoration: none;
}

.slider-section {
    flex: 1;
    /* Phần bên phải chiếm 50% chiều rộng */
    position: relative;
    /* Để quản lý vị trí của slider */
}

.auto-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    /* Đảm bảo slider chiếm toàn bộ chiều cao */
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* Thêm hiệu ứng trượt */
}

.slide {
    min-width: 100%;
    /* Mỗi slide chiếm toàn bộ chiều rộng */
    height: 100%;
    /* Đảm bảo mỗi slide chiếm toàn bộ chiều cao */
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    /* Đảm bảo hình ảnh chiếm toàn bộ chiều cao */
    object-fit: cover;
    /* Đảm bảo hình ảnh không bị méo */
}