<div class="hold-transition login-page"
    style="display: flex; justify-content: flex-start!important; padding-top: 50px;">
    <div class="login-box">
        <div class="login-logo">
            <b>Online</b>Auction
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign in to start your Bid</p>

                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="input-group mb-1">
                        <input type="text" formControlName="username" class="form-control" placeholder="Username">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div [style.visibility]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched ? 'visible' : 'hidden'"
                        style="color: red;">
                        Username is required.
                    </div>
                    <div class="input-group mb-1 mt-2">
                        <input type="password" formControlName="password" class="form-control" placeholder="Password"
                            [value]="loginForm.get('password').value">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div [style.visibility]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched ? 'visible' : 'hidden'"
                        style="color: red;">
                        Password is required.
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="remember" [checked]="isRemembered" (change)="check($event)">
                                <label for="remember">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Log
                                In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div style="min-height: 24px;">
                        <span [style.visibility]="errorMessage != null ? 'visible' : 'hidden'" style="color: red;">
                            {{ errorMessage }}
                        </span>
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <button (click)="signInWithGoogle()" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google
                    </button>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a [routerLink]="['/reset-password-s1']">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a [routerLink]="['/register']" class="text-center">Register a new membership</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</div>