<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Online</b>Auction
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <div class="login-box-msg">Enter Your Email</div>

                <form [formGroup]="registerForm" (ngSubmit)="sendEmail()">
                    <div class="input-group mb-1 mt-2">
                        <input type="text" formControlName="email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"
                        [style.visibility]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched ? 'visible' : 'hidden'"
                        style="color: red;">
                        <ng-container *ngIf="registerForm.get('email')?.errors?.['required']">
                            Email is required.
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('email')?.errors?.['email']">
                            Invalid email format.
                        </ng-container>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="registerForm.invalid">Send</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div style="min-height: 24px;">
                        <span [style.visibility]="errorMessage != null ? 'visible' : 'hidden'" style="color: red;">
                            {{ errorMessage }}
                        </span>
                        <span [style.visibility]="successMessage != null ? 'visible' : 'hidden'" style="color: green;">
                            {{ successMessage }}
                        </span>
                    </div>
                </form>
                <p class="mb-0">
                    <a [routerLink]="['/login']" class="text-center">Back to Login</a>
                </p>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>

    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</div>