<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <b>Online</b>Auction
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Set your new password</p>

                <form [formGroup]="registerForm" (ngSubmit)="reset()">
                    <div class="input-group mb-1">
                        <input type="text" formControlName="resetCode" class="form-control" placeholder="Reset Code">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa-solid fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3"
                        [style.visibility]="registerForm.get('resetCode')?.invalid && registerForm.get('resetCode')?.touched ? 'visible' : 'hidden'"
                        style="color: red;">
                        <ng-container *ngIf="registerForm.get('resetCode')?.errors?.['required']">
                            Reset Code is required.
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('resetCode')?.errors?.['minlength']">
                            Reset Code must be 6 characters long.
                        </ng-container>
                    </div>

                    <div class="input-group mb-1 mt-2">
                        <input type="password" formControlName="password" class="form-control"
                            placeholder="New Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3"
                        [style.visibility]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched ? 'visible' : 'hidden'"
                        style="color: red;">
                        <ng-container *ngIf="registerForm.get('password')?.errors?.['required']">
                            Password is required.
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('password')?.errors?.['minlength']">
                            Password must be at least 6 characters long.
                        </ng-container>
                        <ng-container *ngIf="registerForm.get('password')?.errors?.['pattern']">
                            Password must contain both letters and numbers.
                        </ng-container>
                    </div>
                    <div class="row">
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block"
                                [disabled]="registerForm.invalid">Send</button>
                        </div>
                        <!-- /.col -->
                    </div>
                    <div style="min-height: 24px;">
                        <span [style.visibility]="errorMessage != null ? 'visible' : 'hidden'" style="color: red;">
                            {{ errorMessage }}
                        </span>
                        <span [style.visibility]="successMessage != null ? 'visible' : 'hidden'" style="color: green;">
                            {{ successMessage }}
                        </span>
                    </div>
                </form>
                <p class="mb-0">
                    <a [routerLink]="['/login']" class="text-center">Back to Login</a>
                </p>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>

    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
</div>