<h2 class="query">Your Favourite Items</h2>
<!-- Filters -->
<div class="item-list1">
  <div class="filter">
    <select id="bidStatus" (change)="onBidStatusChange($event)" style="height: 40px;">
      <option value="">Filter by Bid Status</option>
      <option value="A">Active</option>
      <option value="I">Upcoming</option>
      <option value="E">Closed</option>
    </select>

    <select id="category" [(ngModel)]="selectedCategory" (change)="onCategoryChange($event)">
      <option value="">Filter by Category</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">{{ category.categoryName }} ({{
        category.itemCount }} items)</option>
    </select>
  </div>

  @if(filteredItems && filteredItems.length > 0) {

  <div class="item-list">
    <div *ngFor="let item of filteredItems" class="card">
      <div class="card-body">
        <div class="image-grid">
          <!-- Chỉ hiển thị hình ảnh đầu tiên -->
          <img *ngIf="item.images.length > 0" [src]="item.images[0]" class="item-image"
            (click)="goToDetail(item.itemId)" alt="Item Image" style="cursor: pointer;" />
          <div class="add-to-fav">
            <i class="fa-regular fa-heart"></i>
            <span>{{ item.favoritesCount }}</span>
          </div>
        </div>

        <!-- Condition for Active and Current Bid higher than Minimum Bid -->
        <div *ngIf="item.bidStatus === 'A' && item.minimumBid &lt; item.currentBid">
          <p class="item-title">{{ item.itemTitle }}</p>
          <p class="itemss">CURRENT BID </p>
          <div style="font-size: 20px; font-weight: bold;">${{ item.currentBid | number:'1.0-0' }}</div>
          <p>Time left: {{ formatCountdown(item.bidEndDate) }}</p>
        </div>

        <!-- Condition for Active and Current Bid equals Minimum Bid -->
        <div *ngIf="item.bidStatus === 'A' && item.minimumBid === item.currentBid">
          <p class="item-title" [title]="item.itemTitle">{{ item.itemTitle }}</p>
          <p class="itemss">STARTING BID</p>
          <div>_____</div>
          <p>Time left: {{ formatCountdown(item.bidEndDate) }}</p>
        </div>

        <!-- Condition for Upcoming Bid -->
        <div *ngIf="item.bidStatus === 'I'">
          <p class="item-title">{{ item.itemTitle }}</p>
          <p class="itemss">UPCOMING BID</p>
          <div>_____</div>
          <p>Starts in: {{ formatCountdown(item.bidStartDate) }}</p>
        </div>

        <!-- Condition for Bidding Closed -->
        <div *ngIf="item.bidStatus === 'E'">
          <p class="item-title">{{ item.itemTitle }}</p>
          <p class="itemss">BIDDING CLOSED</p>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <div class="pagination mt-4">
    <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
    <!-- Hiển thị danh sách các trang -->
    <span *ngFor="let page of pages" (click)="onPageChange(page)" [class.active]="page === currentPage"
      style="cursor: pointer;">
      {{ page }}
    </span>
    <button (click)="onPageChange(currentPage + 1)" [disabled]="filteredItems.length &lt; pageSize">Next</button>
  </div>

  } @else {
  <div class="query1">
    <p>Not found</p>
  </div>

  }
</div>