<div class="container1">
    <div class="item-info" *ngIf="item">
        <!-- Item Title -->
        <h1>{{ item.itemTitle }}</h1>

        <!-- Item Seller -->
        <div (click)="goToSellerDetail(seller.username)">
            Seller:
            <span style="text-decoration: underline; cursor: pointer;">{{ item.sellerUsername }}</span>

            <span *ngIf="seller"> ({{ seller.ratingScore }} points)</span>
        </div>

        <!-- Images Section -->
        <div class="images-section">
            <div class="image-slider">
                <button (click)="prevImage()">&#10094;</button>
                <img [src]="currentImage" class="item-image" alt="Item Image">
                <button (click)="nextImage()">&#10095;</button>
            </div>
        </div>

        <!-- Item Description -->
        <p>{{ item.itemDescription }}</p>

        <!-- Documents Section -->
        <div class="documents-section">
            <h3>Documents</h3>
            <ul>
                <li *ngFor="let document of item.documents">
                    <a [href]="document" target="_blank"><i class="fas fa-file-alt"></i> <!-- Document icon -->
                        {{ document | slice: -10 }} <!-- Display a part of the document name --></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="bid-card" *ngIf="item">

        <!-- Current or Starting Bid -->
        <div *ngIf="item.bidStatus === 'A'">
            <p>Close in: {{ formatCountdown(item.bidEndDate) }}</p>
            <div class="bid-detail">
                <p style="
                font-family: 'Karla', sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-size: 13px;
                line-height: 1.2;
                color: #919397;
                letter-spacing: 2px;
                margin-bottom: 2px;">{{ item.currentBid > item.minimumBid ? 'CURRENT BID' : 'STARTING BID' }}</p>
                <p style="
                font-family: 'Karla', sans-serif;
                font-optical-sizing: auto;
                font-weight: bold;
                font-size: 40px;
                line-height: 1.3;
                margin-top: 8px;">${{ item.currentBid | number:'1.0-0' }}</p>

                <p style="
                font-family: 'Karla', sans-serif;
                font-optical-sizing: auto;
                font-weight: 400;
                font-size: 15px;
                line-height: 1.2;
                color: #919397;
                letter-spacing: 2px;
                margin-bottom: 15px;">Bid Increment: ${{ item.bidIncrement | number:'1.0-0' }}</p>

                <div class="input-bid" *ngIf="user && user.username !== item.sellerUsername">
                    <!-- Input for new bid -->
                    <input type="number" class="form-control" [(ngModel)]="newBidAmount" placeholder="Enter your bid" />
                    <button class="btn-search" (click)="submitBid()">Place Bid</button>
                </div>

                <!-- List of Bidders -->
                <h4 style="margin-top: 20px;">Bidders</h4>
                <ul style="font-size: 16px;
                list-style-type: none;
                padding-left: 0;">
                    <li *ngFor="let bid of bids">
                        {{ bid.bidderUsername }} - ${{ bid.bidAmount | number:'1.0-0' }} ({{ bid.bidDate | date:'short'
                        }})
                    </li>
                </ul>
            </div>

        </div>

        <!-- Upcoming Bid -->
        <div *ngIf="item.bidStatus === 'I'">
            <h4>Upcoming Bid</h4>
            <div class="bid-detail">
                <p>Start in: {{ formatCountdown(item.bidStartDate) }}</p>
                <p>Minimum Bid: {{ item.minimumBid | number:'1.0-0' }}</p>
                <p>Bid Increment: {{ item.bidIncrement | number:'1.0-0' }}</p>
                <p>Bid Start Date: {{ item.bidStartDate | date:'short' }}</p>
                <p>Bid End Date: {{ item.bidEndDate | date:'short' }}</p>
            </div>

        </div>

        <!-- Bidding Closed -->
        <div *ngIf="item.bidStatus === 'E'">
            <h4>Bidding Closed</h4>
            <div class="bid-detail">
                <p style="
                font-family: basisGrotesqueMono, monospace;
                font-weight: 400;
                font-size: 12px;
                line-height: 1.2;
                color: #919397;
                letter-spacing: 2px;
                margin-bottom: 2px;">Final Bid</p>
                <p style="
                font-family: basisGrotesqueMono, monospace;
                font-weight: bold;
                font-size: 40px;
                line-height: 1.3;
                margin-top: 8px;">${{ item.currentBid | number:'1.0-0' }}</p>

                <!-- Check if there are any bidders -->
                <div *ngIf="bids && bids.length > 0">
                    <p>Winner: {{ winner.bidderUsername }}</p>

                    <!-- List of Bidders -->
                    <h4>Bidders</h4>
                    <ul>
                        <li *ngFor="let bid of bids">
                            {{ bid.bidderUsername }} - {{ bid.bidAmount | currency }} ({{ bid.bidDate | date:'short' }})
                        </li>
                    </ul>
                </div>
                <div *ngIf="bids && bids.length === 0">
                    <p>No bidders</p>
                </div>
            </div>

        </div>

        <div *ngIf="showExistingRating; else ratingForm" class="mt-4">
            <h3>Rating</h3>
            <p><strong>Score:</strong> {{ ratingScore }}</p>
            <p><strong>Comments:</strong> {{ comments }}</p>
        </div>

        <ng-template #ratingForm>
            <div *ngIf="showRatingForm" class="mt-5">
                <h4>Please rate the seller</h4>
                <form (ngSubmit)="submitRating()">
                    <label for="ratingScore">Rating Score:</label>
                    <select [(ngModel)]="ratingScore" name="ratingScore" required>
                        <option [value]="-5">-5</option>
                        <option [value]="-4">-4</option>
                        <option [value]="-3">-3</option>
                        <option [value]="-2">-2</option>
                        <option [value]="-1">-1</option>
                        <option [value]="0">0</option>
                        <option [value]="1">1</option>
                        <option [value]="2">2</option>
                        <option [value]="3">3</option>
                        <option [value]="4">4</option>
                        <option [value]="5">5</option>
                    </select>
                    <br>
                    <label for="comments">Comments:</label>
                    <br>
                    <div class="input-rating">
                        <textarea [(ngModel)]="comments" name="comments" placeholder="Leave your feedback here"
                            required></textarea>
                        <br>
                        <button type="submit">Submit Rating</button>
                    </div>

                </form>
            </div>
        </ng-template>


    </div>
</div>