.container1 {
    font-family: basisGrotesqueMono, monospace;
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    /* Khoảng cách giữa phần item-info và bid-card */
}

.item-info {
    flex: 2;
    margin-right: 30px;
    /* Chiếm 2/3 chiều rộng của container */
}

.item-info h1 {
    font-weight: 600;
}

.bid-card {
    flex: 1;
    /* Chiếm 1/3 chiều rộng của container */
}

/* Các định dạng khác cho phần nội dung */
.images-section,
.documents-section {
    margin-bottom: 20px;
}

.documents-section ul {
    list-style-type: none;
    padding: 0;
}

.documents-section li {
    margin: 5px 0;
}

.documents-section a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.documents-section i {
    font-size: 24px;
    margin-right: 10px;
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-image {
    max-width: 100%;
    height: auto;
    display: block;
}

input[type="number"] {
    width: calc(100% - 100px);
    /* Chiều rộng của input, điều chỉnh nếu cần */
    margin-right: 10px;
    /* Khoảng cách giữa input và nút submit */
}


.images-section {
    margin: 20px 0;
}

.image-slider {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    /* Hide overflow to ensure image fits within container */
}

.image-slider button {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.image-slider button:first-of-type {
    left: 10px;
}

.image-slider button:last-of-type {
    right: 10px;
}

.image-slider img {
    width: 100%;
    object-fit: cover;
    /* Maintain aspect ratio while fitting within container */
    display: block;
    margin: 0 auto;
}

.bid-detail {
    border: 1px solid #d2d9e1;
    border-top: 2px solid #03f;
    padding: 32px 24px;
}

.input-bid {
    width: 100%;
}

.input-bid input {
    border-radius: 0;
    border: 1px solid #f0f1f5;
    height: 50px;
    background-color: #f0f1f5;
    box-shadow: none;
    padding: 6px 12px;
    margin: 0;
    width: 100%;
    font-size: 18px;
}

.input-bid button {
    background-color: #fff;
    border: .0625rem solid #d2d9e1;
    height: 50px;
    color: #03f;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

.input-bid button:hover {
    color: rgba(0, 51, 255, 0.699);
}

.input-rating {
    width: 100%;
}

.input-rating textarea {
    border-radius: 0;
    border: 1px solid #f0f1f5;
    height: 150px;
    background-color: #f0f1f5;
    box-shadow: none;
    padding: 6px 12px;
    margin: 0;
    width: 100%;
    font-size: 18px;
}

.input-rating button {
    background-color: #fff;
    border: .0625rem solid #d2d9e1;
    height: 50px;
    color: #03f;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
}

.input-rating button:hover {
    color: rgba(0, 51, 255, 0.699);
}