@import url('https://fonts.googleapis.com/css2?family=Basis+Grotesque:wght@400;500;600&display=swap');

.containerr {
  width: 100%;
  box-sizing: border-box;
  font-family: basisGrotesqueMono, monospace;
}