<div class="container2">
    <header class="container1">
        <a [routerLink]="['/']" class="footer-link">Terms of Use</a>
        <a [routerLink]="['/']" class="footer-link">Data Protection & Privacy Notice</a>
        <a [routerLink]="['/']" class="footer-link">Cookie Policy</a>
        <a [routerLink]="['/']" class="footer-link">Law Enforcement Policy</a>
        <a [routerLink]="['/']" class="footer-link">Other Policies</a>
        <a [routerLink]="['/']" class="footer-link">© 2024</a>
    </header>
</div>